#wrapper {
    width: 960px;
}

#topBar {
    height: 150px;
    line-height: 150px;
}

.grBigContent {
    width: 581px;
}

.grBigContentPadding {
    padding-right: 26px;
    padding-left: 26px;
}

.grSmallContent {
    width: 280px;
}

.grSmallContentPadding {
    padding-right: 18px;
    padding-left: 18px;
}

.clearFix {
    clear: both;
}








.floatLeft {
    float: left;
}

.textInline {
    display: inline;
}

.textRight {
    text-align: right;
}

.textLeft {
    text-align: left;
}

.textCenter {
    text-align: center;
}

.textJustify {
    text-align: justify;
}

