#wrapper {
    width: 960px;
}

#topBar {
    line-height: 100px;
}

#mainContent {
    background: url("../images/4x4-adventure-automobile-1571783.jpg") no-repeat;
    background-size: cover;
    height: 565px;
}

#leftDiv, #rightDiv {
    width: 480px;
}

#leftDiv {
    background-color: black;
    opacity: .8;
    background-size: cover;
}

#leftDiv h1 {
    top: 115px;
    left: 50px;
    color: white;
}

#leftDiv h2 {
    top: 130px;
    left: 325px;
    color: blue;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 960px;
    background-color: black;
    color: white;
    line-height: 100px;
}

.fontFamily {
    font-family: "Helvetica", Helvetica-nueue, sans-serif;
}

.grBigContent {
    width: 545px;
}

.grBigContentPadding {
    padding-right: 24px;
    padding-left: 24px;
}

.grSmallContent {
    width: 300px;
}

.grSmallContentPadding {
    padding-right: 19px;
    padding-left: 19px;
}

.clearFix {
    clear: both;
}

.borderOutside {
    border: solid black 1px;
}

.marginCenter {
    margin-right: auto;
    margin-left: auto;
}

.floatLeft {
    float: left;
}

.textInline {
    display: inline;
}

.textRight {
    text-align: right;
}

.textLeft {
    text-align: left;
}

.textCenter {
    text-align: center;
}

.textJustify {
    text-align: justify;
}

.sidebarImg {
    padding-top: 19px;
}

.height100px {
    height: 100px;
}

.height100percent {
    height: 100%;
}

.relativePosition {
    position: relative;
}

